.Nav-bar{
    background-color: #fa2100;
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    display: inline;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}