.submit{
    background-color: #dc3544;
    border: #dc3544;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    /* font-size: small; */
    padding: auto;
}

#search{
    width: 375px;
    height: 25px;
    border-radius: 5px;
    border: solid lightgray 2.5px;
}

.search-form{
    display: flex;
}

