.video-index div {
display: grid;
grid-template-columns: repeat(3, 400px);
grid-template-rows: auto;
}

.video-index li{
    width: 400px;
}

.thumbnail{
    width: auto;
}

/* .video-index li {
    flex-direction: column;
  flex: 33.33%;

} */

.video-index h3{
    color: black;
    width: auto;
}

@media(max-width: 400px){
    .video-index div{
        display: flex;
        flex-direction: column;
    }
    .video-index h3{
        color: black;
        width: 300px;
    }
    .video-index li{
        width: 300px;
    }
}